@import 'colors';
@import 'buttons';
@import 'input';
@import 'image';
@import 'dropdown';
@import 'mobile';
@import 'delete';

#app {
  min-height: 100%;
  background-color: $light-blue;
  color: $brown;
  font-family: muli;
  text-align: center;
  overflow: visible;
  .app {
    .nav-items {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
  .main-contianer {
    overflow: visible;

    .welcome-container {
      margin-top: 50px;
    }

    .upload-container {

    }

    .bottom {
      margin-top: 15%;
    }
  }
}
