@import 'colors';
@import 'buttons';
@import 'input';
@import 'image';
@import 'dropdown';
@import 'mobile';
@import 'delete';

#app {
  min-height: 100%;
  background-color: $cruise;
  color: $brown;
  font-family: raleway;
  text-align: center;
  overflow: visible;

  .main-contianer {
    overflow: visible;
    
    .welcome-container {

    }

    .upload-container {

    }
  }
}
