@import 'colors';
@import 'buttons';
@import 'input';
@import 'image';
@import 'mobile';

#app {
    height: 100%;
    background-color: $cruise;
    color: $brown;
    font-family: raleway;
    text-align: center;
}
