@import 'colors';

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons {
    text-align: center;
    background-color: $bluebayoux;
    margin: 20px 10%;
    width: 80%;
    height: 5%;
    color: $coralreef;
    font-size: 80%;
}
