$midnight: #001431;
$downriver: #101F59;
$bluebayoux: #4B6476;
$mariner: #495E98;
$poloblue: #8BA0D0;
$greyblue: #9F9DAA;
$gulfstream: #87BCAE;
$cruise: #B4DFD0;
$springwood: #FBF6F3;
$bronze-olive: #584924;
$brown: #57523E;
$coralreef: #C5C2A2;
$tana: #D9D9BA;
$camel: #C79D6A;
$mustard: #E3BC7E;
$orange: #CC7B53;
$peach: #E1B997;
$light-peach: #EEC2AD;
$melon: #F8B9B8;
$pearl: #E9DECC;
$light-blue: #E1F5FE;
$mid-light-grey: #E0E0E0;
$mid-dark-grey: #9E9E9E;
$light-grey-blue: #607D8B;
